[color]
  diff = auto
  status = auto
  branch = auto
  ui = always
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[alias]
  br = branch
  st = status
  co = checkout
  ci = commit
  serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
[user]
	name = Raphaela Wrede
	email = raphaela@travis-ci.org
[interactive]
  singlekey = true
[push]
  default = simple
[core]
	excludesfile = /Users/rwrede/.gitignore
  pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
[filter "lfs"]
  required = true
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[branch]
	autosetupmerge = always
